h1{
    text-align: center;
    font-size: 20px;
    color: red;
}

h2{
    text-align: center;
}
p{
    font-size: 15px;
    margin: auto;
    width:400px;
}

.image{
    text-align:center;
}

table{
    margin: auto;
    width:400px;
}

th{
    background-color: aquamarine;
}

.under {
    text-align:center;
    padding:20px 0;
    text-decoration: underline;
    color: orange;
  }